# Virtual enviroment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# IDE file
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env

# Database
friends.db

# Compiled Python files
*.pyc

# Dependecy directories
node_modules/
/dist/